@model TimeSlot
@{
    ViewData["Title"] = "DeleteTime";
    Layout = null;
}

<form method="post" asp-action="DeleteTime" asp-controller="Home" asp-route-Id="@Model.TimeSlotID" onsubmit="return jQueryAjaxDelete(this)">

    <h4> Please confirm to delete this record</h4>
    <div class="text-center">
        <input type="submit" value="Confirm" class="btn btn-warning" />
    </div>  

    <div class="col-8">
        <div class="form-group">
            <input asp-for="SessionDay" hidden />
        </div>

        <div class="form-group">
            <input asp-for="SessionStartTime" hidden />
        </div>
        <div class="form-group">
            <input asp-for="SessionEndTime" hidden/>
        </div>
        <div class="form-group">
            <input asp-for="TutorID" hidden/>
        </div>
        <div class="form-group">
            <input asp-for="TimeSlotID" hidden/>
        </div>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}