@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Tutor Buddy</h1>
    <h2>Simplified Online Learning.</h2><br>
    <p><a class="btn-findtutor btn-lg" asp-controller="Home" asp-action="ViewAllTutors">Find Tutor &raquo;</a></p>
    <div class="row">
        <div class="col-sm-5">
            <h4>Learn Anywhere. With The Best.</h4>
            <h4>Break The Fear Of Online Learning.</h4>
            <h4>You Have Potential!</h4>
        </div>
    </div>
</div>